{% extends "default.html" %}

{% block title %}
    Ônibus
{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Onibus cadastrados</div>
    <!-- Table -->
    <table class="table">
      <tr>
        <th>ID Ônibus</th>
        <th>ID Validador</th>
        {% for onibus in onibus %}
          {% autoescape false %}
          </tr>
          <td>{{onibus["id_onibus"]}}</td>
          <td>{{onibus["id_validador"]}}</td>
          </tr>
          {% endautoescape %}
        {%endfor%}
      </table>
    </div>


<footer class="footer">
  <p>&copy; Company 2015</p>
</footer>

{% endblock %}
