{% extends "default.html" %}

{% block title %}
    Cadastro de GRE
{% endblock %}

{% block content %}

        {% if cadastro == 1 %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Parabéns!</strong> A GRE foi cadastrada com sucesso!
        </div>
        {% elif cadastro == 2 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Aviso!</strong> Ocorreu um erro no formato dos dados e  a GRE não foi cadastrada.
        </div>
        {% elif cadastro == 3 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Aviso!</strong> Ocorreu um erro no banco de dados e a GRE não foi cadastrada.
        </div>
        {% endif%}

        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="user_form">
            <div class="row">
                <div class="col-lg-12">
                  <label>Cadastro de GRE:</label><br><br>
                  <div class="form-inline">
                    <label for="cd_date_envio">Data de envio:</label>
                    <input type="date" class="form-control" style="margin-bottom:10px;" name="cd_date_envio" id="cd_date_envio" placeholder="AAAA/MM/DD">
                    <label for="cd_date_retorno" style="margin-left:5px;">Data de retorno:</label>
                    <input type="date" class="form-control" style="margin-bottom:10px;" name="cd_date_retorno" id="cd_date_retorno" placeholder="AAAA/MM/DD">
                  </div>

                  <label for="cd_onibus">Ônibus:</label>
                  <select class="selectpicker form-control" data-live-search="true" data-size="5" name="cd_onibus">
                      {% for o in onibus %}
                          <option>{{o["id_onibus"]}}</option>
                      {% endfor %}
                  </select>

                  <label for="cd_remessa" style="margin-top: 10px;">Remessa:</label>
                  <input type="text" class="form-control" style="margin-bottom:10px;" name="cd_remessa" id="cd_remessa" placeholder="0000">

                  <label for="cd_validador">Serial do Validador:</label>
                  <select class="selectpicker form-control" data-live-search="true" data-size="5" name="cd_validador">
                      {% for validador in validadores %}
                          <option>{{validador["num_serie"]}}</option>
                      {% endfor %}
                  </select>

                  <label for="defeito" style="margin-top: 10px;">Defeito:</label>
                  <div class = "row">
                  {% for defeito in defeitos %}
                    <div class="col-lg-6">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <input type="radio" name="defeito" id="defeito" value="{{defeito["tipo_defeito"]}}">{{defeito["tipo_defeito"].encode('latin1')}}
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                  {%endfor%}
                  </div>

                  <div class="form-group" style="margin-top: 10px;">
                    <label for="observacoes">Observações:</label>
                    <textarea class="form-control" rows="5" style="resize: none;" name="observacoes" id="observacoes"></textarea>
                  </div>
                  <br>
                    <a href="/"><button type="button" class="btn btn-default btn-md">Voltar</button></a>
                    <button type="submit" class="btn btn-primary btn-md" id="btn_save" onclick="verifyDataFields()">Salvar</button>
                </div>
            </div>
        </form>

{% endblock %}
