{% extends "default.html" %}

{% block title %}
    Cadastro de Validador
{% endblock %}

{% block content %}

        {% if cadastro == 1 %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Parabéns!</strong> O componente foi cadastrado com sucesso!
        </div>
        {% elif cadastro == 2 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Aviso!</strong> Ocorreu um erro no formato dos dados e o componente não foi cadastrado.
        </div>
        {% elif cadastro == 3 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Aviso!</strong> Ocorreu um erro no banco de dados e o componente não foi cadastrado.
        </div>
        {% endif%}

        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="user_form">
            <div class="row">
                <div class="col-lg-7">
                    <label>Cadastro de Validador:</label><br>
                    <label for="cd_validador">Serial do Validador</label>
                    <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_validador" id="cd_validador" placeholder="a1b2c3">
                    <label for="cd_onibus">Ônibus</label>
                    <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_onibus" id="cd_onibus" placeholder="012345">

                    <a href="/"><button type="button" class="btn btn-default btn-md">Voltar</button></a>
                    <button type="submit" class="btn btn-primary btn-md" id="btn_save" onclick="verifyDataFields()">Salvar</button>
                </div>
            </div>
        </form>

{% endblock %}
