{% extends "default.html" %}

{% block title %}
    Consulta
{% endblock %}

{% block content %}
        <div class="col-lg-4">
            <form  class="form-horizontal" action="/consultaValidador" method=post>
              <input class="form-control" type=text name=cons placeholder="ID do validador"></br>
              <div class="actions"><input type=submit value="Pesquisar Validador"></div>
            </form>
          </div>

          <div class="col-lg-4">
            <form  class="form-horizontal" action="/consultaOnibus" method=post>
              <input class="form-control" type=text name=cons placeholder="ID do Ônibus"></br>
              <div class="actions"><input type=submit value="Pesquisar Ônibus"></div>
            </form>
          </div>

          <div class="col-lg-4">
            <form  class="form-horizontal" action="/consultaGRE" method=post>
              <input class="form-control" type=text name=cons placeholder="Data de envio AAAA/MM/DD"></br>
              <div class="actions"><input type=submit value="Pesquisar GRE"></div>
            </form>
          </div>
          <br><br><br><br>
        </div>

  {% if consulta == 1%}
  <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Aviso!</strong> O objeto não foi encontrado no banco de dados.
  </div>
  {% elif consulta == 2 %}

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Ônibus</div>
      <!-- Table -->
      <table class="table">
        <tr>
          <th>ID Ônibus</th>
          <th>ID Validador</th>
          {% for o in onibus %}
            {% autoescape false %}
            </tr>
            <td>{{o["id_onibus"]}}</td>
            <td>{{o["id_validador"]}}</td>
            </tr>
            {% endautoescape %}
          {%endfor%}
        </table>
      </div>

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">GRE(s)</div>
        <!-- Table -->
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Data de envio</th>
            <th>Data de retorno</th>
            <th>ID Ônibus</th>
            <th>Remessa</th>
            <th>ID Validador</th>
            {% for g in gre %}
              {% autoescape false %}
              </tr>
              <td>{{g["id_gre"]}}</td>
              <td>{{g["data_envio"]}}</td>
              <td>{{g["data_retorno"]}}</td>
              <td>{{g["id_onibus"]}}</td>
              <td>{{g["remessa"]}}</td>
              <td>{{g["id_validador"]}}</td>
              </tr>
              {% endautoescape %}
            {%endfor%}
          </table>
        </div>
          <!--
          <table class="table">
            <tr>
              <th>ID GRE </th>
              <th>Tipo de Defeito</th>
              <th>Observações</th>
              {% for defeito in defeitos %}
                {% autoescape false %}
                </tr>
                <td>{{defeito["id_gre"]}}</td>
                <td>{{defeito["tipo_defeito"].encode('latin1')}}</td>
                <td>{{defeito["observacoes"]}}</td>
                </tr>
                {% endautoescape %}
              {%endfor%}
          </table>
        </div>
        -->

  {%endif%}




{% endblock %}
