<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Scripts padrão -->
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/uploadFile.js')}}" async></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    {% if current_user.is_authenticated%}
                    <!--Dropdown-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                Cadastro <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a href="/cadastroGRE">GRE</a></li>
                              <li><a href="/cadastroOnibus">Ônibus</a></li>
                              <li><a href="/cadastroValidador">Validadores</a></li>
                              <li><a href="/cadastroDefeito">Defeito</a></li>
                            </ul>
                        </li>
                      <!--Dropdown-->
                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                    Consultas <span class="caret"></span>
                                </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a href="/greview">GRE</a></li>
                              <li><a href="/busview">Ônibus</a></li>
                              <li><a href="/valview">Validadores</a></li>
                            </ul>
                        </li>
                      <li role="presentation"><a href="/logout">Log Out</a></li>
                    {%else%}
                    <!--Dropdown-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                Consultas <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a href="/greview">GRE</a></li>
                              <li><a href="/busview">Ônibus</a></li>
                              <li><a href="/valview">Validadores</a></li>
                            </ul>
                        </li>
                        <li role="presentation"><a data-toggle="modal" data-target="#adminLogin" href="#">Login</a></li>
                    {%endif%}
                </ul>
            </nav>
            <h3 class="text-muted">Controle Trampolim</h3>
        </div>

        <div class="modal fade" name="adminLogin" id="adminLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="/login" method="post">
                        <div class="form-group" style="margin:15px;">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Login">
                        </div>
                        <div class="form-group" style="margin:15px;">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-default" value="Login">Login</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {% block content %}
        {% endblock %}

    </div>
</body>

</html>
