{% extends "default.html" %}

{% block title %}
    Gráficos
{% endblock %}

{% block content %}

    <div class="col-lg-12">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Tipo de Gráfico
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/graph/1">Action</a></li>
            <li><a href="/graph/2">Another action</a></li>
            <li><a href="/graph/3">Something else here</a></li>
          </ul>
        </div>
    </div>

    <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>

{% endblock %}
