{% extends "default.html" %}

{% block title %}
    GRE
{% endblock %}

{% block content %}

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">GREs cadastradas</div>
    <!-- Table -->
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Data de envio</th>
        <th>ID Ônibus</th>
        <th>Remessa</th>
        <th>ID Validador</th>
        {% for gre in gre %}
          {% autoescape false %}
          </tr>
          <td>{{gre["id_gre"]}}</td>
          <td>{{gre["data_envio"]}}</td>
          <td>{{gre["id_onibus"]}}</td>
          <td>{{gre["remessa"]}}</td>
          <td>{{gre["id_validador"]}}</td>
          </tr>
          {% endautoescape %}
        {%endfor%}
      </table>
      <table class="table">
        <tr>
          <th>ID GRE </th>
          <th>Tipo de Defeito</th>
          <th>Relatório</th>
          {% for defeito in defeitos %}
            {% autoescape false %}
            </tr>
            <td>{{defeito["id_gre"]}}</td>
            <td>{{defeito["tipo_defeito"].encode('latin1')}}</td>
            <td>{{defeito["relatorio"]}}</td>
            </tr>
            {% endautoescape %}
          {%endfor%}

      </table>
    </div>

<footer class="footer">
  <p>&copy; Company 2015</p>
</footer>

{% endblock %}
