<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Scripts padrão -->
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation" class="active"><a href="/membersview">View Members</a></li>
                    <li role="presentation"><a href="/logout">Log Out</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Mambros cadastrados</div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>Curso</th>
                    <th>Endereço</th>
                    <th>Data de Nascimento</th>
                    <th>Foto</th>

                {% for member in members %}
                    {% autoescape false %}
                    </tr>
                        <td>{{member["uniid"]}}</td>
                        <td>{{member["name"]}}</td>
                        <td>{{member["course"]}}</td>
                        <td>{{member["street"]}}, {{member["housenumber"]}}, {{member["neighborhood"]}}, {{member["city"]}}, {{member["state"]}}, CEP {{member["cep"]}} </td>
                        <td>{{member["birth"]}}</td>
                        <td>
                            <div class="thumbnail" style="width:100px;height:100px;">
                                <img src="{{ url_for('static', filename='users/pictures/'+member["picture"])}}" class="" id="profile_pic">
                            </div>
                        </td>
                    </tr>
                    {% endautoescape %}
                {%endfor%}
            </table>
        </div>

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>

    </div>
</body>

</html>
