<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="icon" type="image/jpg" sizes="128x128" href="https://mir-s3-cdn-cf.behance.net/projects/404/8dbef733589885.Y3JvcCw4NDIsNjU3LDAsMTc.jpg" width="20%" height="20%"/>
    <!-- Scripts padrão -->
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/uploadFile.js')}}" async></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation" class="active"><a href="/signup">Sign Up</a></li>
                    <li role="presentation"><a href="/login">Log In</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>

        {% if cadastro == 1 %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Parabéns!</strong> O membro foi cadastrado com sucesso!
        </div>
        {% elif cadastro == 2 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Aviso!</strong> Ocorreu um erro no formato dos dados e o membro não foi cadastrado.
        </div>
        {% elif cadastro == 3 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Aviso!</strong> Ocorreu um erro no banco de dados e o membro não foi cadastrado.
        </div>
        {% endif%}

        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="user_form">
            <div class="row">
                <div class="col-lg-7">
                    <label for="email">Usuário:</label>
                    <div id="testdiv">
                        <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_login" id="cd_login" placeholder="Login">
                    </div>

                    <script>
                        $('#cd_login').on('input', function() {
                            var e = document.getElementById("cd_login");
                            var logins = {{logins|safe}};
                            var i;
                            var notUnique = 0;
                            for (i = 0; i < logins.length; i++){
                                if(logins[i] == e.value){
                                    notUnique = 1;
                                }
                            }

                            var div = document.createElement('div');
                            div.innerHTML = '<div class="alert alert-danger">Este nome de login já foi escolhido</div>';

                            if (notUnique == 1){
                                e.style.backgroundColor = "#FF8367";
                                document.getElementById('testdiv').appendChild(div);
                            }
                            else{
                                e.style.backgroundColor = "white";
                                if(document.getElementById('testdiv').childNodes.length > 0){
                                    document.getElementById('testdiv').removeChild(document.getElementById('testdiv').getElementsByTagName('div')[0]);
                                }
                            }
                        });
                    </script>

                    <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_email" id="cd_email" placeholder="Email">
                    <input type="password" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_senha" id="cd_senha" placeholder="Senha">
                    <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_nome" id="cd_nome" placeholder="Nome">
                    <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_matricula" placeholder="Matrícula">
                    <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_curso" placeholder="Curso">

                    <div class="row" id="file-browser" style="margin:0px;margin-bottom:10px">
                        <div class="input-group-btn">
                            <div class="input-group" style="display: table; width: 100%;">
                                <label class="input-group-btn">
                                    <span class="btn btn-primary" style="font-size: 14px; padding:6px">
                                        Selecionar Fotografia <input type="file" name="file" style="display: none;">
                                    </span>
                                </label>
                                <span style="display: table-cell; width: 100%;">
                                    <input type="text" name="cd_foto" id="cd_foto" class="form-control" readonly>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="thumbnail" style="width:270px;height:330px;">
                        <a href="#" class="">
                            <img src="" class="" id="profile_pic">
                        </a>
                    </div>
                </div>
            </div>

            <label for="email">Endereço:</label>
            <div class="form-inline" style="display: table; width: 100%;">
                <input type="text" class="form-control" style="margin-top:5px; margin-bottom:5px; display: table-cell; width: 80%;" name="cd_rua" placeholder="Rua/Avenida">
                <input type="text" class="form-control" style="margin-top:5px; margin-bottom:5px; display: table-cell; width: 20%;" name="cd_numero" placeholder="Número">
            </div>
            <div class="form-inline" style="display: table; width: 100%;">
                <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px; display: table-cell; width: 45%;" name="cd_bairro" placeholder="Bairro">
                <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px; display: table-cell; width: 45%;" name="cd_cidade" placeholder="Cidade">
                <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px; display: table-cell; width: 10%;" name="cd_uf" placeholder="UF">
            </div>
            <div class="form-inline" style="display: table; width: 100%;">
                <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px; display: table-cell; width: 50%;" name="cd_tel" placeholder="Telefone Residencial">
                <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px; display: table-cell; width: 50%;" name="cd_cel" placeholder="Telefone Móvel">
            </div>

            <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_cep" placeholder="CEP">
            <input type="text" class="form-control" style="margin-top:10px; margin-bottom:10px;" name="cd_nascimento" placeholder="Nascimento (aaaa-mm-dd)">
            <div class="modal-footer">
                <button type="submit" class="btn btn-default btn-md" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary btn-md" id="btn_save" onclick="verifyDataFields()">Salvar</button>
            </div>
        </form>
    </div>
</body>

</html>
