<!DOCTYPE html>
<html lang="en">

<head>
    <title>User</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Scripts padrão -->
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.js') }}"></script>
    <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/uploadFile.js')}}" async></script>
</head>

<body>
    {% if login == 1%}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn btn-success" data-dismiss="alert" aria-label="Ok"><span aria-hidden="true">&times;</span></button>
        <strong>Login efetuado com sucesso!</strong><br>
    </div>
    {%endif%}

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="/">Logout</a>
                    </li>
                    <li role="presentation" class="active"><a href="/membersview">Access DB</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>

        <img src="https://mir-s3-cdn-cf.behance.net/projects/404/8dbef733589885.Y3JvcCw4NDIsNjU3LDAsMTc.jpg">

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
    </div>
</body>

</html>
