{% extends "default.html" %}

{% block title %}
    Validadores
{% endblock %}

{% block content %}

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Validadores cadastrados</div>
      <!-- Table -->
      <table class="table">
        <tr>
          <th>ID Validador</th>
          {% for validador in validadores %}
            {% autoescape false %}
            </tr>
            <td>{{validador["num_serie"]}}</td>
            </tr>
            {% endautoescape %}
          {%endfor%}
        </table>
      </div>

<footer class="footer">
  <p>&copy; Company 2015</p>
</footer>

{% endblock %}
